<!-- wp:template-part {"slug":"header","theme":"circle-photography"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","wideSize":"100%","contentSize":"1180px"}} -->
<main class="wp-block-group">
  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","right":"var:preset|spacing|40","left":"var:preset|spacing|40"}}},"backgroundColor":"background-alt","layout":{"type":"constrained"}} -->
  <div
    class="wp-block-group has-background-alt-background-color has-background"
    style="
      padding-top: var(--wp--preset--spacing--70);
      padding-right: var(--wp--preset--spacing--40);
      padding-bottom: var(--wp--preset--spacing--70);
      padding-left: var(--wp--preset--spacing--40);
    "
  >
    <!-- wp:query-title {"type":"archive","textAlign":"center","showPrefix":false} /-->
  </div>
  <!-- /wp:group -->

  <!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|40","bottom":"var:preset|spacing|60","left":"var:preset|spacing|40"}}},"layout":{"type":"constrained","contentSize":"1180px","justifyContent":"center"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: var(--wp--preset--spacing--60);
      padding-right: var(--wp--preset--spacing--40);
      padding-bottom: var(--wp--preset--spacing--60);
      padding-left: var(--wp--preset--spacing--40);
    "
  >
    <!-- wp:query {"queryId":29,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true}} -->
    <div class="wp-block-query">
      <!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
      <!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"},"blockGap":"5px"}},"backgroundColor":"secondary","layout":{"inherit":false}} -->
      <div
        class="wp-block-group has-secondary-background-color has-background"
        style="
          padding-top: 0px;
          padding-right: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
        "
      >
        <!-- wp:post-featured-image {"isLink":true,"height":"260px","style":{"border":{"radius":"0px"}}} /-->

        <!-- wp:group {"style":{"spacing":{"padding":{"top":"10px","bottom":"10px","left":"10px","right":"10px"}}},"layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group"
          style="
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
          "
        >
          <!-- wp:post-terms {"term":"category","className":"is-style-categories-background-with-primary-color","style":{"spacing":{"margin":{"top":"0"}}},"fontSize":"x-small"} /-->

          <!-- wp:post-title {"level":5,"isLink":true,"className":"is-style-title-hover-primary-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|white"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|40","top":"var:preset|spacing|40"}},"typography":{"lineHeight":"1.2"}},"textColor":"white"} /-->

          <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","padding":{"bottom":"var:preset|spacing|20"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"xx-small","layout":{"type":"flex","flexWrap":"nowrap"}} -->
          <div
            class="wp-block-group has-xx-small-font-size"
            style="
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: var(--wp--preset--spacing--20);
            "
          >
            <!-- wp:post-date /-->

            <!-- wp:paragraph -->
            <p>.</p>
            <!-- /wp:paragraph -->

            <!-- wp:post-author-name /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:post-excerpt {"moreText":"","excerptLength":15,"style":{"elements":{"link":{"color":{"text":"var:preset|color|heading-color"}}},"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
      <!-- /wp:post-template -->

      <!-- wp:group {"layout":{"type":"constrained"}} -->
      <div class="wp-block-group">
        <!-- wp:paragraph -->
        <p></p>
        <!-- /wp:paragraph -->
      </div>
      <!-- /wp:group -->

      <!-- wp:separator {"className":"is-style-dots","style":{"spacing":{"margin":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"backgroundColor":"primary"} -->
      <hr
        class="wp-block-separator has-text-color has-primary-color has-alpha-channel-opacity has-primary-background-color has-background is-style-dots"
        style="
          margin-top: var(--wp--preset--spacing--40);
          margin-bottom: var(--wp--preset--spacing--40);
        "
      />
      <!-- /wp:separator -->

      <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} -->
      <!-- wp:query-pagination-previous {"fontSize":"medium"} /-->

      <!-- wp:query-pagination-numbers {"style":{"typography":{"letterSpacing":"2px"}},"fontSize":"medium"} /-->

      <!-- wp:query-pagination-next {"fontSize":"medium"} /-->
      <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:query -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"circle-photography"} /-->
